<html>
  <head>
    <title>Settlers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="static/settlers.css"/>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
    <script src="static/jquery-2.1.4.min.js"></script>
    <script src="static/settlers.js"></script>
  </head>

  <body>
    <div class="lobby-container">
        <div class="header">
            <h1>Settlers</h1>
        </div>
        <div class="player-id">
            <input type="text" placeholder="Enter your name">
            <button onclick="submitPlayerName()">Ok</button>
        </div>
        <div class="start-game">
            <button onclick="startGame()">Start game</button>
        </div>
    </div>
  </body>
</html>