<!--
  This code is based on the following draft: https://codepen.io/allenrice/pen/IgKGJ
  which in turn was forked from https://codepen.io/MattH22/pen/pqFLJ
-->

<html>
  <head>
    <title>Settlers of Catan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="static/settlers.css"/>
    <link rel="icon" type="image/x-icon" href="static/img/grain_cc.jpg">
    <script src="static/jquery-2.1.4.min.js"></script>
    <script src="static/settlers.js"></script>
  </head>

  <body>
    <div class="container">

      <!-- Side board -->
      <div class="side-board">

        <!-- Dice section -->
        <div class='section'>
          <div class="section-header">
            Dice
          </div>
          <div class='dice'>
            <div class='die' id="die1"></div>
            <div class='die' id="die2"></div>
          </div>
          <input type="submit" value="Roll the dice" class='roll-button' onclick="roleDice()">
        </div>

        <!-- Token section -->
        <div class='section'>
          <div class="section-header">
            Tokens
          </div>
          <div class='tokens'>
            <div class='token road' onclick='toggleSelectToken("road", this)'>
              <div class='number'>15</div>
            </div>
            <div class='token village' onclick='toggleSelectToken("village", this)'>
              <div class='number'>5</div>
            </div>
            <div class='token city' onclick='toggleSelectToken("city", this)'>
              <div class='number'>4</div>
            </div>
          </div>
        </div>

        <!-- Draw pile section -->
        <div class='section'>
          <div class="section-header">
            Draw Pile
          </div>
          <div class='draw-pile-row'>
            <div class='resource-card wood' onclick='drawResourceCard("wood")'></div>
            <div class='resource-card clay' onclick='drawResourceCard("clay")'></div>
            <div class='resource-card grain' onclick='drawResourceCard("grain")'></div>
          </div>
          <div class='draw-pile-row'>
            <div class='resource-card sheep' onclick='drawResourceCard("sheep")'></div>
            <div class='resource-card ore' onclick='drawResourceCard("ore")'></div>
            <div class='resource-card development' onclick='drawDevelopmentCard()'></div>
          </div>
        </div>

        <!-- Resource card section -->
        <div class='section'>
          <div class="section-header">
            Player Resources
          </div>
          <div class='resource-card-row'>
            <div class='resource-card wood' onclick='discardResourceCard("wood")'>
              <div class='number'>0</div>
            </div>
            <div class='resource-card clay' onclick='discardResourceCard("clay")'>
              <div class='number'>0</div>
            </div>
            <div class='resource-card grain' onclick='discardResourceCard("grain")'>
              <div class='number'>0</div>
            </div>
            <div class='resource-card sheep' onclick='discardResourceCard("sheep")'>
              <div class='number'>0</div>
            </div>
            <div class='resource-card ore' onclick='discardResourceCard("ore")'>
              <div class='number'>0</div>
            </div>
          </div>

          <div class='resource-card-row'>
            <div class='resource-card knight' onclick='discardDevelopmentCard("knight")'>
              <div class='number'>0</div>
            </div>
            <div class='resource-card victory-point' onclick='discardDevelopmentCard("victory-point")'>
              <div class='number'>0</div>
            </div>
            <div class='resource-card monopoly' onclick='discardDevelopmentCard("monopoly")'>
              <div class='number'>0</div>
            </div>
            <div class='resource-card progress' onclick='discardDevelopmentCard("progress")'>
              <div class='number'>0</div>
            </div>
            <div class='resource-card roadworks' onclick='discardDevelopmentCard("roadworks")'>
              <div class='number'>0</div>
            </div>
          </div>
          <div class='clear'></div>
        </div>
      </div>

      <-- Game map-->
      <ol class="even" data-y="-3">
        <li class='hex spacer'></li>
        <li class='hex water' id="0_-3"></li>
        <li class='hex water' id="1_-3">
          <div class='harbor two-one wood'>
            <div class='harbor-piece br'></div>
          </div>
        </li>
        <li class='hex water' id="2_-3"></li>
        <li class='hex water' id="3_-3">
          <div class='harbor three-one wood'>
            <div class='harbor-piece bl'></div>
          </div>
        </li>
      </ol>

      <ol class="odd" data-y="-2">
        <li class='hex spacer'></li>
        <li class='hex water' id="-1_-2">
          <div class='harbor three-one sheep'>
            <div class='harbor-piece br'></div>
          </div>
        </li>
        <li class='hex wheat' id="0_-2">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number two'></div>
        </li>
        <li class='hex wood' id="1_-2">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number three'></div>
        </li>
        <li class='hex wheat' id="2_-2">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number three'></div>
        </li>
        <li class='hex water' id="3_-2">
          <!-- Road targets -->
          <div class='road target l'></div>
          <!-- Settlement targets -->
          <div class='settlement tl target'></div>
        </li>
      </ol>

      <ol class="even">
        <li class='hex water' id="-2_-1"></li>
        <li class='hex coal' id="-1_-1">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number four'></div>
        </li>
        <li class='hex sheep' id="0_-1">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number four'></div>
        </li>
        <li class='hex wood' id="1_-1">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number five'></div>
        </li>
        <li class='hex sheep' id="2_-1">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number five'></div>
        </li>
        <li class='hex water' id="3_-1">
          <!-- Road targets -->
          <div class='road target l'></div>
          <!-- Settlement targets -->
          <div class='settlement tl target'></div>
          <div class='harbor three-one brick'>
            <div class='harbor-piece l'></div>
          </div>
        </li>
      </ol>

      <ol class="odd">
        <li class='hex water' id="-3_0">
          <div class='harbor three-one sheep'>
            <div class='harbor-piece r'></div>
          </div>
        </li>
        <li class='hex sheep' id="-2_0">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number six'></div>
        </li>
        <li class='hex wheat' id="-1_0">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number six'></div>
        </li>
        <li class='hex wood' id="0_0">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number eight robber'></div>
        </li>
        <li class='hex brick' id="1_0">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number eight'></div>
        </li>
        <li class='hex brick' id="2_0">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number nine'></div>
        </li>
        <li class='hex water' id="3_0">
          <!-- Road targets -->
          <div class='road target l'></div>
          <!-- Settlement targets -->
          <div class='settlement tl target'></div>
        </li>
      </ol>

      <ol class="even">
        <li class='hex water' id="-3_1">
          <!-- Road targets -->
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
        </li>
        <li class='hex coal' id="-2_1">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number nine'></div>
        </li>
        <li class='hex brick' id="-1_1">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number ten'></div>
        </li>
        <li class='hex wood' id="0_1">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number ten'></div>
        </li>
        <li class='hex sheep' id="1_1">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number eleven'></div>
        </li>
        <li class='hex water' id="2_1">
          <!-- Road targets -->
          <div class='road target tl'></div>
          <div class='road target l'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <div class='harbor three-one brick'>
            <div class='harbor-piece l'></div>
          </div>
        </li>
      </ol>

      <ol class="odd">
        <li class='hex spacer'></li>
        <li class='hex water' id="-3_2">
          <!-- Road targets -->
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='harbor two-one any'>
            <div class='harbor-piece tr'></div>
          </div>
        </li>
        <li class='hex sand' id="-2_2">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
        </li>
        <li class='hex coal' id="-1_2">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number twelve'></div>
        </li>
        <li class='hex wheat' id="0_2">
          <!-- Road targets -->
          <div class='road target l'></div>
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <!-- Number -->
          <div class='number eight'></div>
        </li>
        <li class='hex water' id="1_2">
          <!-- Road targets -->
          <div class='road target tl'></div>
          <div class='road target l'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
        </li>
      </ol>

      <ol class="even">
        <li class='hex spacer'></li>
        <li class='hex water' id="-3_3">
          <!-- Road targets -->
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
        </li>
        <li class='hex water' id="-2_3">
          <!-- Road targets -->
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <div class='harbor two-one any'>
            <div class='harbor-piece tr'></div>
          </div>
        </li>
        <li class='hex water' id="-1_3">
          <!-- Road targets -->
          <div class='road target tl'></div>
          <div class='road target tr'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
        </li>
        <li class='hex water' id="0_3">
          <!-- Road targets -->
          <div class='road target tl'></div>
          <!-- Settlement targets -->
          <div class='settlement t target'></div>
          <div class='settlement tl target'></div>
          <div class='harbor three-one wood'>
            <div class='harbor-piece tl'></div>
          </div>
        </li>
      </ol>
    </div>
  </body>
</html>